.b{
    color: blue;
    background-color: azure;
}
.x{
    color:violet;
    background-color:blue;
    
}
.s{
    color:blueviolet;
    background-color: red;

}
.n{
    color: chartreuse;
    background-color: blue;
    
}
.m{
    color:crimson;
    background-color: black;

}
.o{
    color: green;
    background-color:cornflowerblue;

}
#w{
    color:green;
    

}
.v{
    color:darkblue;
    background-color: aquamarine;

}
.j{
    color:blueviolet

}
#e{
    color:cadetblue;
    background-color: aquamarine;

}
#q{
    color: burlywood;
    background-color: blueviolet;

}